

<section class="supercontainer">


    <div class="twoModuleContainer">

        <section class="module contentHalf">
          <div class="contentHalf">
            <h2>Lorem Ipsum Dolor</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla varius ex at massa euismod, ac sagittis nisi malesuada.
                Praesent quis dolor ac dui finibus tincidunt non ac est. Quisque at tincidunt dolor, non iaculis justo. Integer ac suscipit ante.
            </p>
          </div>
        </section>

        <section class="staticImageSectionHalf">
            <img src="images/bg8.jpg" class="fullImg">
        </section>

    </div>

    <div class="twoModuleContainer">

        <section class="staticImageSectionHalf">
            <img src="images/bg9.jpg" class="fullImg">
        </section>

        <section class="module contentHalf">
          <div class="contentHalf">
            <h2>Lorem Ipsum Dolor</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla varius ex at massa euismod, ac sagittis nisi malesuada.
                Praesent quis dolor ac dui finibus tincidunt non ac est. Quisque at tincidunt dolor, non iaculis justo. Integer ac suscipit ante.
            </p>
          </div>
        </section>



    </div>





    <section class="module content bgContainer1">
      <div class="container">
        <h2>Lorem Ipsum Dolor</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla varius ex at massa euismod, ac sagittis nisi malesuada. Praesent quis dolor ac dui finibus tincidunt non ac est. Quisque at tincidunt dolor, non iaculis justo. Integer ac suscipit ante. Suspendisse mattis ex et tortor porttitor lacinia. Nunc dignissim tellus id nunc cursus facilisis. Nunc consequat lacus nec tellus cursus vehicula.

            Pellentesque porttitor pulvinar velit, ac sodales neque scelerisque eu. Aliquam non nulla tempor, eleifend nunc non, suscipit sapien. Suspendisse sed imperdiet risus. Nullam placerat fermentum nisl. Sed ornare orci et nulla gravida, eget finibus orci ornare. In hac habitasse platea dictumst. Phasellus ornare vehicula tincidunt. Nullam tincidunt elementum lectus, sit amet suscipit turpis ullamcorper sit amet. Phasellus viverra lacus non finibus cursus. Nam vel sagittis dolor. Fusce non tellus feugiat, auctor nibh a, viverra elit. Suspendisse eleifend facilisis egestas. Fusce venenatis sem quis placerat blandit. Mauris placerat velit est, ac volutpat nibh malesuada vel. Donec lobortis nisl eget commodo imperdiet. Quisque in lorem diam.

        Proin venenatis libero eget facilisis molestie. Mauris fermentum a tortor vitae pretium. Quisque dapibus ultricies massa. Duis justo risus, aliquam non vestibulum sed, ullamcorper eu leo. Etiam vitae massa semper, placerat ex vel, tincidunt nibh. Quisque vel sollicitudin nibh, eget congue diam. Nunc cursus nisl velit, porta consectetur velit varius a. Phasellus sed dictum ligula, in vestibulum erat. Fusce mollis varius lorem, eu pharetra nibh faucibus sit amet. Pellentesque quam erat, commodo maximus nunc a, vulputate hendrerit mi. Vivamus molestie ullamcorper est, at porttitor massa porta ac. Proin ac quam at lacus semper condimentum. Aliquam erat volutpat. Aliquam porta auctor imperdiet. In elementum ante at tempus tempus.</p>
      </div>
    </section>


    <section class="module parallax parallax-5">
      <div class="container">
        <h1>Velkommen</h1>
      </div>
    </section>



    <div class="twoModuleContainer">


        <section class="module parallaxHalf parallaxHalf-3">
          <div class="container">
            <h1>Min verden</h1>
          </div>
        </section>


        <section class="module contentHalf">
          <div class="contentHalf">
            <h2>Lorem Ipsum Dolor</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla varius ex at massa euismod, ac sagittis nisi malesuada.
                Praesent quis dolor ac dui finibus tincidunt non ac est. Quisque at tincidunt dolor, non iaculis justo. Integer ac suscipit ante.
            </p>
          </div>
        </section>

        <div class="clear"></div>

    </div>















    <div>

        <section class="module parallaxHalf parallaxHalf-1">
          <div class="container">
            <h1>Greger</h1>
          </div>
        </section>


        <section class="module parallaxHalf parallaxHalf-2">
          <div class="container">
            <h1>Hanne</h1>
          </div>
        </section>

        <div class="clear"></div>

    </div>


    <section class="module parallax parallax-1">
      <div class="container">
        <h1>Greger</h1>
      </div>
    </section>

    <div>
        <!-- class="col-lg-6 col-md-6 col-sm-12 col-xs-12" -->

        <section class="module parallaxHalf parallaxHalf-2">
          <div class="container">
            <h1>Hanne</h1>
          </div>
        </section>

        <section class="module parallaxHalf parallaxHalf-1">
          <div class="container">
            <h1>Greger</h1>
          </div>
        </section>

        <div class="clear"></div>

    </div>


    <section class="module parallax parallax-2">
      <div class="container">
        <h1>Hanne</h1>
      </div>
    </section>


    <section class="module parallax parallax-3">
      <div class="container">
        <h1>Sammen</h1>
      </div>
    </section>



    <section class="module parallax parallax-4">
      <div class="container">
        <h1>For</h1>
      </div>
    </section>

    <section class="videoContainer">
        <video id="videoPlayer" class="videoEl"  preload="auto" autoplay loop>
            <source src="videos/vid1.mp4" type="video/mp4">
        </video>
    </section>

    <section class="module parallax parallax-5">
      <div class="container">
        <h1>Alltid</h1>
      </div>
    </section>

    <section class="module content">
      <div class="container">
        <h2>Lorem Ipsum Dolor</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla varius ex at massa euismod, ac sagittis nisi malesuada. Praesent quis dolor ac dui finibus tincidunt non ac est. Quisque at tincidunt dolor, non iaculis justo. Integer ac suscipit ante. Suspendisse mattis ex et tortor porttitor lacinia. Nunc dignissim tellus id nunc cursus facilisis. Nunc consequat lacus nec tellus cursus vehicula.

    Pellentesque porttitor pulvinar velit, ac sodales neque scelerisque eu. Aliquam non nulla tempor, eleifend nunc non, suscipit sapien. Suspendisse sed imperdiet risus. Nullam placerat fermentum nisl. Sed ornare orci et nulla gravida, eget finibus orci ornare. In hac habitasse platea dictumst. Phasellus ornare vehicula tincidunt. Nullam tincidunt elementum lectus, sit amet suscipit turpis ullamcorper sit amet. Phasellus viverra lacus non finibus cursus. Nam vel sagittis dolor. Fusce non tellus feugiat, auctor nibh a, viverra elit. Suspendisse eleifend facilisis egestas. Fusce venenatis sem quis placerat blandit. Mauris placerat velit est, ac volutpat nibh malesuada vel. Donec lobortis nisl eget commodo imperdiet. Quisque in lorem diam.

    Proin venenatis libero eget facilisis molestie. Mauris fermentum a tortor vitae pretium. Quisque dapibus ultricies massa. Duis justo risus, aliquam non vestibulum sed, ullamcorper eu leo. Etiam vitae massa semper, placerat ex vel, tincidunt nibh. Quisque vel sollicitudin nibh, eget congue diam. Nunc cursus nisl velit, porta consectetur velit varius a. Phasellus sed dictum ligula, in vestibulum erat. Fusce mollis varius lorem, eu pharetra nibh faucibus sit amet. Pellentesque quam erat, commodo maximus nunc a, vulputate hendrerit mi. Vivamus molestie ullamcorper est, at porttitor massa porta ac. Proin ac quam at lacus semper condimentum. Aliquam erat volutpat. Aliquam porta auctor imperdiet. In elementum ante at tempus tempus.</p>
      </div>
    </section>

    <section class="module parallax parallax-6">
      <div class="container">
        <h1>Yeah</h1>
      </div>
    </section>

    <section class="module content">
      <div class="container">
        <h2>Lorem Ipsum Dolor</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla varius ex at massa euismod, ac sagittis nisi malesuada. Praesent quis dolor ac dui finibus tincidunt non ac est. Quisque at tincidunt dolor, non iaculis justo. Integer ac suscipit ante. Suspendisse mattis ex et tortor porttitor lacinia. Nunc dignissim tellus id nunc cursus facilisis. Nunc consequat lacus nec tellus cursus vehicula.

    Pellentesque porttitor pulvinar velit, ac sodales neque scelerisque eu. Aliquam non nulla tempor, eleifend nunc non, suscipit sapien. Suspendisse sed imperdiet risus. Nullam placerat fermentum nisl. Sed ornare orci et nulla gravida, eget finibus orci ornare. In hac habitasse platea dictumst. Phasellus ornare vehicula tincidunt. Nullam tincidunt elementum lectus, sit amet suscipit turpis ullamcorper sit amet. Phasellus viverra lacus non finibus cursus. Nam vel sagittis dolor. Fusce non tellus feugiat, auctor nibh a, viverra elit. Suspendisse eleifend facilisis egestas. Fusce venenatis sem quis placerat blandit. Mauris placerat velit est, ac volutpat nibh malesuada vel. Donec lobortis nisl eget commodo imperdiet. Quisque in lorem diam.

    Proin venenatis libero eget facilisis molestie. Mauris fermentum a tortor vitae pretium. Quisque dapibus ultricies massa. Duis justo risus, aliquam non vestibulum sed, ullamcorper eu leo. Etiam vitae massa semper, placerat ex vel, tincidunt nibh. Quisque vel sollicitudin nibh, eget congue diam. Nunc cursus nisl velit, porta consectetur velit varius a. Phasellus sed dictum ligula, in vestibulum erat. Fusce mollis varius lorem, eu pharetra nibh faucibus sit amet. Pellentesque quam erat, commodo maximus nunc a, vulputate hendrerit mi. Vivamus molestie ullamcorper est, at porttitor massa porta ac. Proin ac quam at lacus semper condimentum. Aliquam erat volutpat. Aliquam porta auctor imperdiet. In elementum ante at tempus tempus.</p>
      </div>
    </section>

</section>
